.container {
    width: 950px;
    height: 400px;
    margin: 20vh auto 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

#canvases {
    float: left;
    width: 585px;
    height: 340px;
    position: relative;
}

canvas {
    position: absolute;
    left: 0;
}

form {
    float:right;
    text-align: center;
}

input,
select {
    border: none;
    background: none;
}

select {
    padding: 4px 5px;
}


.key-input {
    width: 40px;
    padding: 5px;
}

.value-input {
    width: 55px;
    padding: 5px 2px;
    text-align: right;
}

.value-input.color-input {
    padding: 1px 2px;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
}

.delete {
    width: 41px;
}

#save {
    width: 100%;
    margin-top: 2px;
}
