.container {
    width: 840px;
    margin: 20vh auto 0;
    font: 12pt sans-serif;
}

/* keyframes */

form {
    text-align: center;
}

form input,
form select {
    border: none;
    background: none;
}

form select {
    padding: 4px 5px;
}

th select {
    font-weight: bold;
    font-size: 12pt;
}

input.hours {
    width: 2.5em;
    position:relative;
}

input.minutes {
    margin-left: 1em;
    width: 2.5em;
}

.key-input {
    width: 40px;
    padding: 5px;
}

.value-input {
    width: 55px;
    padding: 5px 2px;
    text-align: right;
}

.value-input.color-input {
    padding: 1px 2px;
}

.direction-input {
    margin: 0 5px;
}

.button {
    outline: none;
}

.button:hover {
    cursor: pointer;
}

table .button {
    font: 16pt sans-serif;
    border: none;
    background: none;
    width: 30px;
    color: #ffad66;
}

table .button:hover {
    color: #F10619;
}

#add:hover {
    color: #7cdd50;
}

#save {
    font: 14pt sans-serif;
    background: #ffad66;
    border: 1px solid #ffad66;
    color: white;
    width: 100%;
    padding: 10px;
    transition: all .2s ease-in;
}

#save:hover {
    background: white;
    color: #ffad66;
}

#save.button-success {
    color: white;
    background: #7cdd50;
    border: 1px solid #7cdd50;
}

#save.button-success:hover {
    background: white;
    color: #7cdd50;
}

#save.button-failure {
    color: white;
    background: #F10619;
    border: 1px solid #F10619;
}

#save.button-failure:hover {
    background: white;
    color: #F10619;
}

#auto-opac-wrapper {
    margin: 1.5em 0;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

#auto_opac-toggle {
    width: 22px;
    height: 22px;
    margin: 0 0 0 10px;
}

/* color */

#color {
    width: 80px;
    height: 80px;
}

/* switch */
#switch {
    position: relative;
    font: 14pt sans-serif;
    min-height: 100px;
    margin: 0 0 2em;
}

#mode {
    height: 25px;
    width: 25px;
}

#switch > .options {
    height: 25px;
}

/* options slides */

.desc,
.options {
    max-width: 50%;
}

#switch .desc,
#manual .desc,
#auto .options {
    float: left;
    text-align: right;
}

#switch .options,
#manual .options,
#auto .desc {
    float: right;
    text-align: left;
}

.slides {
    position: relative;
    width: 100%;
}

.opt-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -400%;
    transition: all .4s ease;
}

.opt-container.active {
    left: 0;
}

.desc > p,
.options > input {
    margin: 0 2em;
}
