.container {
    width: 950px;
    height: 400px;
    margin: 25vh auto 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

#canvases {
    float: left;
    width: 585px;
    height: 340px;
    position: relative;
}

canvas {
    position: absolute;
    left: 0;
}

form {
    float:right;
    width: 330px;
    text-align: center;
}

.key-input {
    width: 35px;
}

.value-input {
    width: 55px;
}
