.container {
    width: 840px;
    margin: 20vh auto 0;
    font: 12pt sans-serif;
}

form {
    text-align: center;
}

form input,
form select {
    border: none;
    background: none;
}

form select {
    padding: 4px 5px;
}

.key-input {
    width: 40px;
    padding: 5px;
}

.value-input {
    width: 55px;
    padding: 5px 2px;
    text-align: right;
}

.value-input.color-input {
    padding: 1px 2px;
}

.direction-input {
    margin: 0 5px;
}

.button-failure,
.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-failure {
    background:rgb(202, 60, 60); /* this is a maroon */
}

.delete {
    width: 41px;
}

#save {
    width: 100%;
    margin-top: 2px;
}

#color {
    width: 80px;
    height: 80px;
}

/* switch */
#switch {
    position: relative;
    font: 14pt sans-serif;
    min-height: 100px;
    margin: 0 0 2em;
}

#mode {
    height: 25px;
    width: 25px;
}

#switch > .options {
    height: 25px;
}

/* options slides */

.desc,
.options {
    max-width: 50%;
}

#switch .desc,
#manual .desc,
#auto .options {
    float: left;
    text-align: right;
}

#switch .options,
#manual .options,
#auto .desc {
    float: right;
    text-align: left;
}

.slides {
    position: relative;
    width: 100%;
}

.opt-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -400%;
    transition: all .4s ease;
}

.opt-container.active {
    left: 0;
}

.desc > p,
.options > input {
    margin: 0 2em;
}
