body {
    font-family: sans-serif;
    font-size: 8pt;
    text-align: center;
}

#opacity {
    width: 41px;
    -webkit-appearance: slider-vertical;
}

#colorpicker {
    width: 20px;
    height: 24px;
    padding: 0;
}

.checkbox {
    margin-top: 3px;
}

form {
    margin-top: 10px;
}
