body {
    width: 300px;
}

canvas {
    float: left;
}

label {
    display: flex;
    width: 60px;
    font: 10pt sans-serif;
    align-items: center;
    justify-content: center;
}

.container {
    float: right;
    width: 100px;
}

#checkboxes {
    width: 60px;
    float: left;
}

#opacity {
    width: 39px;
    -webkit-appearance: slider-vertical;
    float: right;
}

#colorpicker {
    width: 20px;
    height: 24px;
    padding: 0;
}

.checkbox {
    margin-top: 3px;
}
